<?xml version="1.0" encoding="ISO-8859-1"?> 

<system name="Jameica" version="2.0.1">

	<description>Jameica - Java based messages interchange</description>
	<url>http://www.willuhn.de/products/jameica/releases/current/jameica/jameica.zip</url>
	<homepage>http://www.willuhn.de/projects/jameica</homepage>
	<license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

  <classfinder>
    <include>jameica\.jar</include>
    <include>.*\.class</include>
  </classfinder>

	<menu>
		<item id="jameica.menu.file"             name="&amp;Datei">
			<item id="jameica.menu.settings"       name="&amp;Einstellungen"     shortcut="CTRL+E"         icon="document-properties.png" action="de.willuhn.jameica.gui.internal.action.Settings" />
      <item id="jameica.menu.backups"        name="&amp;Backups verwalten" shortcut="CTRL+B"         icon="document-save.png"       action="de.willuhn.jameica.gui.internal.action.Backup" />
			<item id="jameica.menu.masterpassword" name="&amp;Master-Passwort ändern"	                     icon="stock_keyring.png"       action="de.willuhn.jameica.gui.internal.action.ChangePassword" />
			<item name="-" />
      <item id="jameica.menu.search"         name="&amp;Suche..."          shortcut="CTRL+^"         icon="system-search.png"       action="de.willuhn.jameica.gui.internal.action.Search" />
      <item id="jameica.menu.back"           name="&amp;Zurück"            shortcut="ALT+ARROW_LEFT" icon="go-previous.png"         action="de.willuhn.jameica.gui.internal.action.Back" />
      <item name="-" />
			<item id="jameica.menu.quit"           name="Beenden"                                          icon="window-close.png"        action="de.willuhn.jameica.gui.internal.action.FileClose" />
		</item>

		<item name="Hilfe">
			<item name="&amp;Über"                  icon="gtk-info.png"           action="de.willuhn.jameica.gui.internal.action.About" />
			<item name="-" />
		    <item name="Lizenzinformationen" icon="text-x-generic.png"     action="de.willuhn.jameica.gui.internal.action.License" />
	  </item>
	</menu>

	<navigation>
		<item id="jameica.start" name="Jameica" icon-close="computer.png" action="de.willuhn.jameica.gui.internal.action.Start" />
	</navigation>

	<services/>
</system>

