<?xml version="1.0" encoding="ISO-8859-1"?> 

<system name="Jameica" version="2.12.0">

  <description>Jameica - Java based messages interchange</description>
  <url>https://www.willuhn.de/products/jameica/releases/2.12/jameica/jameica-2.12.0.zip</url>
  <homepage>https://www.willuhn.de/projects/jameica</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

  <classfinder>
    <include>jameica\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <menu>
    <item id="jameica.menu.file"                name="&amp;Datei">
      <item id="jameica.menu.bookmarks"         name="&amp;Lesezeichen..."             shortcut="CTRL+L"         icon="starred.png"             action="de.willuhn.jameica.gui.internal.action.BookmarkSearch" />
      <item id="jameica.menu.back"              name="&amp;Zurück"                     shortcut="ALT+ARROW_LEFT" icon="go-previous.png"         action="de.willuhn.jameica.gui.internal.action.Back" />
      <item id="jameica.menu.navigation.toggle" name="&amp;Navigation ein-/ausblenden" shortcut="ALT+N"          icon="view-fullscreen.png"     action="de.willuhn.jameica.gui.internal.action.NavigationToggle" />
      <item name="-" />
      <item id="jameica.menu.settings"       name="&amp;Einstellungen"              shortcut="CTRL+E"         icon="document-properties.png" action="de.willuhn.jameica.gui.internal.action.Settings" />
      <item id="jameica.menu.backups"        name="&amp;Backups verwalten"                                    icon="document-save.png"       action="de.willuhn.jameica.gui.internal.action.Backup" />
      <item id="jameica.menu.updates"        name="&amp;Plugins online suchen..."                             icon="emblem-package.png"      action="de.willuhn.jameica.gui.internal.action.PluginListOpen" />
      <item name="-" />
      <item id="jameica.menu.masterpassword" name="&amp;Master-Passwort ändern"	                              icon="stock_keyring.png"       action="de.willuhn.jameica.gui.internal.action.ChangePassword" />
      <item name="-" />
      <item id="jameica.menu.quit"           name="Beenden"                         shortcut="CTRL+Q"         icon="window-close.png"        action="de.willuhn.jameica.gui.internal.action.FileClose" />
    </item>
    <item name="Hilfe">
      <item name="Lizenzinformationen" icon="text-x-generic.png"     action="de.willuhn.jameica.gui.internal.action.License" />
      <item name="&amp;Über"                                                                                  icon="gtk-info.png"            action="de.willuhn.jameica.gui.internal.action.About" />
    </item>
  </menu>

  <navigation>
    <item id="jameica.start"        name="Start"   icon-close="computer.png"        action="de.willuhn.jameica.gui.internal.action.Start">
    <item id="jameica.appointments" name="Termine" icon-close="office-calendar.png" action="de.willuhn.jameica.gui.internal.action.Appointments" />
    </item>
  </navigation>

  <services/>
  
  <messaging>
    <consumer queue="jameica.reminder.appointment" class="de.willuhn.jameica.messaging.ReminderAppointmentMessageConsumer" />
    <consumer queue="jameica.popup"                class="de.willuhn.jameica.messaging.PopupMessageConsumer" />
    <consumer queue="jameica.boot"                 class="de.willuhn.jameica.messaging.BootMessageConsumer" />
    <consumer queue="jameica.scripting.add"        class="de.willuhn.jameica.messaging.AddScriptMessageConsumer" />
    <consumer queue="jameica.scripting.remove"     class="de.willuhn.jameica.messaging.RemoveScriptMessageConsumer" />
    <consumer queue="jameica.activity"             class="de.willuhn.jameica.messaging.ActivityMessageConsumer" />
  </messaging>

</system>
