<?xml version="1.0" encoding="ISO8859-1"?> 

<menu>

  <cascade name="File">
    <item name="Import Plugin..."    class="de.willuhn.jameica.menu.ImportPlugin" />
    <item name="Close"    			 class="de.willuhn.jameica.menu.FileClose" />
  </cascade>

  <cascade name="Edit">
    <item name="Copy"                class="de.willuhn.jameica.menu.EditCopy" />
    <item name="Cut"                 class="de.willuhn.jameica.menu.EditCut" />
    <item name="Paste"    			 class="de.willuhn.jameica.menu.EditPaste" />
  </cascade>

  <cascade name="Help">
    <item name="about..."            class="de.willuhn.jameica.menu.About" />
  </cascade>

</menu>
