<?xml version="1.0" encoding="ISO8859-1"?> 

<menu>

  <cascade name="Datei">
    <item name="&amp;Einstellungen" 			shortcut="CTRL+E" 	class="de.willuhn.jameica.gui.views.Settings" />
	<item name="-" />
    <item name="Beenden"    			 							class="de.willuhn.jameica.gui.views.FileClose" />
  </cascade>

  <cascade name="Hilfe">
    <item name="About"				 			target="dialog"		class="de.willuhn.jameica.gui.views.About" />
	<item name="-" />
    <!--<item name="installierte Plugins"	 							class="de.willuhn.jameica.gui.views.Plugins" /> //-->
    <item name="Lizenzinformationen"	 							class="de.willuhn.jameica.gui.views.License" />
  </cascade>

</menu>
